newVersion: 1.3.1
prevVersion: 1.3.0
stackVersion: 7.10.1
crds:
  - name: elasticsearches.elasticsearch.k8s.elastic.co
    displayName: Elasticsearch Cluster
    description: Instance of an Elasticsearch cluster
  - name: kibanas.kibana.k8s.elastic.co
    displayName: Kibana
    description: Kibana instance
  - name: apmservers.apm.k8s.elastic.co
    displayName: APM Server
    description: APM Server instance
  - name: enterprisesearches.enterprisesearch.k8s.elastic.co
    displayName: Enterprise Search
    description: Enterprise Search instance
  - name: beats.beat.k8s.elastic.co
    displayName: Beats
    description: Beats instance
packages:
  - outputPath: community-operators
    packageName: elastic-cloud-eck
    distributionChannel: community-operators
    operatorRepo: docker.elastic.co/eck/eck-operator
    ubiOnly: false
  - outputPath: upstream-community-operators
    packageName: elastic-cloud-eck
    distributionChannel: upstream-community-operators
    operatorRepo: docker.elastic.co/eck/eck-operator
    ubiOnly: false
  - outputPath: certified-operators
    packageName: elasticsearch-eck-operator-certified
    distributionChannel: certified-operators
    operatorRepo: registry.connect.redhat.com/elastic/eck-operator
    ubiOnly: true
