apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: kibanas.kibana.k8s.elastic.co
spec:
  group: kibana.k8s.elastic.co
  names:
    categories:
    - elastic
    kind: Kibana
    plural: kibanas
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            elasticsearch:
              properties:
                auth:
                  properties:
                    inline:
                      properties:
                        password:
                          type: string
                        username:
                          type: string
                      required:
                      - username
                      - password
                      type: object
                  type: object
                caCertSecret:
                  type: string
                url:
                  type: string
              required:
              - url
              type: object
            expose:
              enum:
              - ClusterIP
              - LoadBalancer
              - NodePort
              type: string
            featureFlags:
              type: object
            image:
              type: string
            nodeCount:
              format: int32
              type: integer
            resources:
              properties:
                limits:
                  type: object
              type: object
            version:
              type: string
          type: object
        status:
          properties:
            health:
              type: string
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
