# allow operator in the 'elastic-namespace-operators' namespace
# to manage resources in the 'default' namespace
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: elastic-namespace-operator
  # namespace in which resources are watched
  namespace: <MANAGED_NAMESPACE>
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: elastic-namespace-operator
subjects:
- kind: ServiceAccount
  name: elastic-namespace-operator
  # namespace the operator is running in
  namespace: <NAMESPACE>
