---
{{ if not .Values.configRef }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-config" (include "autoops.fullname" .) }}
  labels:
    {{- include "autoops.labels" . | nindent 4 }}
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- with .Values.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
stringData:
  cloud-connected-mode-api-key: {{ required "ccmApiKey is required" .Values.ccmApiKey }}
  autoops-otel-url: {{ required "autoOpsOTelURL is required" .Values.autoOpsOTelURL }}
  autoops-token: {{ required "autoOpsToken is required" .Values.autoOpsToken }}
  {{ with .Values.cloudConnectedModeAPIURL }}
  cloud-connected-mode-api-url: {{ . }}
  {{ end }}
{{ end }}
