apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: stacks.deployments.k8s.elastic.co
spec:
  group: deployments.k8s.elastic.co
  names:
    kind: Stack
    plural: stacks
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            elasticsearch:
              properties:
                expose:
                  enum:
                  - ClusterIP
                  - LoadBalancer
                  - NodePort
                  type: string
                image:
                  type: string
                setVmMaxMapCount:
                  type: boolean
                topologies:
                  items:
                    properties:
                      nodeCount:
                        format: int32
                        type: integer
                      nodeTypes:
                        properties:
                          data:
                            type: boolean
                          ingest:
                            type: boolean
                          master:
                            type: boolean
                          ml:
                            type: boolean
                        type: object
                      resources:
                        properties:
                          limits:
                            properties:
                              cpu:
                                type: string
                              memory:
                                type: string
                              storage:
                                type: string
                            type: object
                        type: object
                      template:
                        properties:
                          metadata:
                            type: object
                          spec:
                            properties:
                              affinity:
                                type: object
                            type: object
                        type: object
                      volumeClaimTemplates:
                        items:
                          type: object
                        type: array
                    type: object
                  type: array
              type: object
            featureFlags:
              type: object
            kibana:
              properties:
                expose:
                  enum:
                  - ClusterIP
                  - LoadBalancer
                  - NodePort
                  type: string
                image:
                  type: string
                nodeCount:
                  format: int32
                  type: integer
                resources:
                  properties:
                    limits:
                      properties:
                        cpu:
                          type: string
                        memory:
                          type: string
                        storage:
                          type: string
                      type: object
                  type: object
              type: object
            version:
              type: string
          type: object
        status:
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
