apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: stacks.deployments.k8s.elastic.co
spec:
  group: deployments.k8s.elastic.co
  names:
    kind: Stack
    plural: stacks
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            elasticsearch:
              properties:
                image:
                  type: string
                nodeCount:
                  format: int32
                  type: integer
                setVmMaxMapCount:
                  type: boolean
              type: object
            version:
              type: string
          type: object
        status:
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
