apiVersion: v2
name: eck-stack
description: Elastic Stack managed by the ECK Operator
kubeVersion: ">= 1.21.0-0"
type: application
version: 0.13.0-SNAPSHOT

dependencies:
  - name: eck-elasticsearch
    condition: eck-elasticsearch.enabled
    version: "0.13.0-SNAPSHOT"
  - name: eck-kibana
    condition: eck-kibana.enabled
    version: "0.13.0-SNAPSHOT"
  - name: eck-agent
    condition: eck-agent.enabled
    version: "0.13.0-SNAPSHOT"
  - name: eck-fleet-server
    condition: eck-fleet-server.enabled
    version: "0.13.0-SNAPSHOT"
  - name: eck-beats
    condition: eck-beats.enabled
    version: "0.13.0-SNAPSHOT"
  - name: eck-logstash
    condition: eck-logstash.enabled
    version: "0.13.0-SNAPSHOT"
  - name: eck-apm-server
    condition: eck-apm-server.enabled
    version: "0.13.0-SNAPSHOT"
  - name: eck-enterprise-search
    condition: eck-enterprise-search.enabled
    version: "0.13.0-SNAPSHOT"
