apiVersion: v2
name: eck-stack
description: Elastic Stack managed by the ECK Operator
kubeVersion: ">= 1.21.0-0"
type: application
version: 0.5.0

dependencies:
  - name: eck-elasticsearch
    condition: eck-elasticsearch.enabled
    version: "0.4.0"
  - name: eck-kibana
    condition: eck-kibana.enabled
    version: "0.4.0"
  - name: eck-agent
    condition: eck-agent.enabled
    version: "0.4.0"
  - name: eck-fleet-server
    condition: eck-fleet-server.enabled
    version: "0.4.0"
  - name: eck-beats
    condition: eck-beats.enabled
    version: "0.3.0"
