---
# values corresponding to config/recipes/logstash/logstash-multi.yaml
version: 9.1.0

pipelines:
  - pipeline.id: main
    config.string: |
      input {
        beats {
          port => 5044
        }
      }
      filter {
        grok {
          match => { "message" => "%{HTTPD_COMMONLOG}"}
        }
        geoip {
          source => "[source][address]"
          target => "[source]"
        }
      }
      output {
        pipeline {
          send_to => 'prod'
        }
        pipeline {
          send_to => 'qa'
        }
      }
  - pipeline.id: production
    config.string: |
      input {
        pipeline {
          address => 'prod'
        }
      }
      output {
        elasticsearch {
          hosts => [ "${PROD_ES_ES_HOSTS}" ]
          user => "${PROD_ES_ES_USER}"
          password => "${PROD_ES_ES_PASSWORD}"
          ssl_certificate_authorities => "${PROD_ES_ES_SSL_CERTIFICATE_AUTHORITY}"
        }
      }
  - pipeline.id: qa
    config.string: |
      input {
        pipeline {
          address => 'qa'
        }
      }
      output {
        elasticsearch {
          hosts => [ "${QA_ES_ES_HOSTS}" ]
          user => "${QA_ES_ES_USER}"
          password => "${QA_ES_ES_PASSWORD}"
          ssl_certificate_authorities => "${QA_ES_ES_SSL_CERTIFICATE_AUTHORITY}"
        }
      }

elasticsearchRefs:
  - clusterName: prod-es
    name: production
  - clusterName: qa-es
    name: qa
    namespace: qa

services:
  - name: beats
    service:
      spec:
        type: ClusterIP
        ports:
          - port: 5044
            name: "filebeat"
            protocol: TCP
            targetPort: 5044

