plans:
- id: gke-ci
  operation: create
  clusterName: ci
  provider: gke
  kubernetesVersion: 1.13
  machineType: n1-standard-8
  serviceAccount: true
  psp: true
  gke:
    region: europe-west2
    adminUsername: admin
    localSsdCount: 1
    nodeCountPerZone: 1
    gcpScopes: https://www.googleapis.com/auth/devstorage.read_only,https://www.googleapis.com/auth/logging.write,https://www.googleapis.com/auth/monitoring,https://www.googleapis.com/auth/servicecontrol,https://www.googleapis.com/auth/service.management.readonly,https://www.googleapis.com/auth/trace.append
- id: gke-dev
  operation: create
  clusterName: dev
  provider: gke
  kubernetesVersion: 1.13
  machineType: n1-standard-8
  serviceAccount: false
  psp: false
  gke:
    region: europe-west1
    adminUsername: admin
    localSsdCount: 1
    nodeCountPerZone: 1
    gcpScopes: https://www.googleapis.com/auth/devstorage.read_only,https://www.googleapis.com/auth/logging.write,https://www.googleapis.com/auth/monitoring,https://www.googleapis.com/auth/servicecontrol,https://www.googleapis.com/auth/service.management.readonly,https://www.googleapis.com/auth/trace.append
- id: aks-ci
  operation: create
  clusterName: ci
  provider: aks
  kubernetesVersion: 1.15.5
  machineType: Standard_D8s_v3
  serviceAccount: true
  psp: false
  aks:
    nodeCount: 3
    location: westeurope
- id: aks-dev
  operation: create
  clusterName: dev
  provider: aks
  kubernetesVersion: 1.15.5
  machineType: Standard_D8s_v3
  serviceAccount: false
  psp: false
  aks:
    nodeCount: 3
    location: northeurope
- id: ocp-ci
  operation: create
  clusterName: ci
  provider: ocp
  machineType: n1-standard-8
  serviceAccount: true
  ocp:
    region: europe-west2
    nodeCount: 1
