{{- $testRun := .TestRun -}}
{{- $operatorImage := .OperatorImage -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: elastic-operator
  labels:
    test-run: {{ .TestRun }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - create
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: elastic-namespace-operator
  labels:
    test-run: {{ .TestRun }}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - endpoints
  - events
  - persistentvolumeclaims
  - secrets
  - services
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - elasticsearch.k8s.elastic.co
  resources:
  - elasticsearches
  - elasticsearches/status
  - elasticsearches/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - kibana.k8s.elastic.co
  resources:
  - kibanas
  - kibanas/status
  - kibanas/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - associations.k8s.elastic.co
  resources:
  - apmserverelasticsearchassociations
  - apmserverelasticsearchassociations/status
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - apm.k8s.elastic.co
  resources:
  - apmservers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - apm.k8s.elastic.co
  resources:
  - apmservers/status
  - apmservers/finalizers
  verbs:
  - get
  - update
  - patch
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .NamespaceOperator.Name }}
  namespace: {{ .NamespaceOperator.Namespace }}
  labels:
    test-run: {{ $testRun }}
---
# allow operator to manage resources in its namespace
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .NamespaceOperator.Name }}
  namespace: {{ .NamespaceOperator.Namespace }}
  labels:
    test-run: {{ $testRun }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: elastic-operator
subjects:
- kind: ServiceAccount
  name: {{ .NamespaceOperator.Name }}
  namespace: {{ .NamespaceOperator.Namespace }}

{{- $nsOperator := .NamespaceOperator -}}
{{ range $nsOperator.ManagedNamespaces }}
---
# allow operator to manage resources in the managed namespace
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ $nsOperator.Name }}
  namespace: {{ . }}
  labels:
    test-run: {{ $testRun }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: elastic-namespace-operator
subjects:
- kind: ServiceAccount
  name: {{ $nsOperator.Name }}
  namespace: {{ $nsOperator.Namespace }}
{{- end }}

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .NamespaceOperator.Name }}
  namespace: {{ .NamespaceOperator.Namespace }}
  labels:
    control-plane: {{ .NamespaceOperator.Name }}
    test-run: {{ $testRun }}
spec:
  selector:
    matchLabels:
      control-plane: {{ .NamespaceOperator.Name }}
  serviceName: {{ .NamespaceOperator.Name }}
  template:
    metadata:
      labels:
        control-plane: {{ .NamespaceOperator.Name }}
        test-run: {{ $testRun }}
    spec:
      serviceAccountName: {{ .NamespaceOperator.Name }}
      containers:
      - image: {{ $operatorImage }}
        imagePullPolicy: IfNotPresent
        name: manager
        args: ["manager", "--namespaces", "{{ .NamespaceOperator.ManagedNamespaces | join "," }}", "--operator-roles", "namespace", "--log-verbosity=1"]
        env:
          - name: OPERATOR_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: OPERATOR_IMAGE
            value: {{ $operatorImage }}
        resources:
          limits:
            cpu: 1
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 20Mi
      terminationGracePeriodSeconds: 10
