name: filebeat
version: 9.1.0
type: filebeat
elasticsearchRef:
  name: eck-elasticsearch
kibanaRef:
  name: eck-kibana
config:
  filebeat.inputs:
  - type: filestream
    paths:
    - /var/log/containers/*.log
    parsers:
    - container: ~
    prospector:
      scanner:
        fingerprint.enabled: true
        symlinks: true
    file_identity.fingerprint: ~
  processors:
  - add_host_metadata: {}
  - add_cloud_metadata: {}
daemonSet:
  podTemplate:
    spec:
      automountServiceAccountToken: true
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true # Allows to provide richer host metadata
      containers:
      - name: filebeat
        securityContext:
          runAsUser: 0
          # If using Red Hat OpenShift uncomment this:
          #privileged: true
        volumeMounts:
        - name: varlogcontainers
          mountPath: /var/log/containers
        - name: varlogpods
          mountPath: /var/log/pods
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
      volumes:
      - name: varlogcontainers
        hostPath:
          path: /var/log/containers
      - name: varlogpods
        hostPath:
          path: /var/log/pods
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
