apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  helm.sh/chart: '{{ include "eck-operator-crds.chart" . }}'
  app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
  app.kubernetes.io/managed-by: '{{ .Release.Service }}'
  app.kubernetes.io/name: '{{ include "eck-operator-crds.name" . }}'
  app.kubernetes.io/instance: '{{ .Release.Name }}'
commonAnnotations:
  helm.sh/resource-policy: keep
resources:
  - all-crds.yaml
