{{- if .Values.internal.manifestGen -}}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Release.Namespace }}
  labels:
    name: {{ .Release.Namespace }}
    {{- include "eck.labels" $ | nindent 4 }}
{{- end -}}
