apiVersion: v2

name: eck-operator

icon: https://helm.elastic.co/icons/eck.png

description: Elastic Cloud on Kubernetes (ECK) operator

home: https://github.com/elastic/cloud-on-k8s

type: application

version: 2.15.0-SNAPSHOT

appVersion: 2.15.0-SNAPSHOT

kubeVersion: ">=1.21.0-0"

keywords:
  - Logstash
  - Elasticsearch
  - Kibana
  - APM Server
  - Beats
  - Enterprise Search
  - Elastic Stack
  - Operator

maintainers:
  - name: Elastic
    email: eck@elastic.co

dependencies:
  - name: eck-operator-crds
    version: 2.15.0-SNAPSHOT
    condition: installCRDs
