kind: Namespace
apiVersion: v1
metadata:
  name: elastic-local
  labels:
    name: elastic-local

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: elastic-local
  namespace: elastic-local

---

# TODO: check if we need *all* these verbs
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: elastic-local
rules:
- apiGroups:
  - ""
  resources:
  - "persistentvolumes"
  verbs: 
  - "get"
  - "list"
  - "watch"
  - "create"
  - "delete"
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - "events"
  verbs:
  - "list"
  - "watch"
  - "create"
  - "update"
  - "patch"
- apiGroups:
  - ""
  resources:
  - "endpoints"
  verbs:
  - "get"
  - "create"
  - "update"
  - "list"
  - "watch"

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  name: elastic-local
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: elastic-local
subjects:
- kind: ServiceAccount
  name: elastic-local
  namespace: elastic-local
