---
apiVersion: cloud.google.com/v1
kind: ComputeClass
metadata:
  name: elasticsearch
spec:
  nodePoolAutoCreation:
    enabled: true
  ## priorityDefaults is available only since GKE 1.32.1-gke.1729000
  priorityDefaults:
    nodeSystemConfig:
      linuxNodeConfig:
        sysctls:
          vm.max_map_count: 262144
  priorities:
    - machineFamily: n2
---
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elasticsearch
spec:
  version: 9.2.2
  nodeSets:
  - name: default
    count: 1
    podTemplate:
      spec:
        nodeSelector:
          cloud.google.com/compute-class: "elasticsearch"
        containers:
        - name: elasticsearch
          resources:
            requests:
              memory: 1Gi
              cpu: 500m
            limits:
              memory: 1Gi
              cpu: 500m
---
