{{- define "depInfo" -}}
{{- range $i, $dep := . }}
{{ "-" | line }}
{{ if $dep.Replace -}}
Module  : {{ $dep.Path }} => {{ $dep.Replace.Path }}
Version : {{ $dep.Replace.Version }}
Time    : {{ $dep.Replace.Time }}
{{- else -}}
Module  : {{ $dep.Path }}
Version : {{ $dep.Version }}
Time    : {{ $dep.Time }}
{{- end }}

{{ $dep | licenceText }}
{{ end }}
{{- end -}}

Copyright 2014-{{ currentYear }} Elasticsearch BV

This product includes software developed by The Apache Software
Foundation (http://www.apache.org/).

{{ "=" | line }}
Third party libraries used by the Elastic Cloud on Kubernetes project
{{ "=" | line }}

{{ template "depInfo" .Direct }}

{{ if .Indirect }}
{{ "=" | line }}
Indirect dependencies

{{ template "depInfo" .Indirect }}
{{ end }}
