apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "wiremock-cloud-connected-api.fullname" . }}-files
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "wiremock-cloud-connected-api.labels" . | nindent 4 }}
data:
  # Response body for create cluster (201)
  create-cluster-response.json: |
    {
      "id": "{{`{{randomValue length=32 type='ALPHANUMERIC' lowercase=true}}`}}",
      "name": "{{`{{jsonPath request.body '$.name' default='My Cloud Connected Cluster'}}`}}",
      "metadata": {
        "created_at": "{{`{{now format="yyyy-MM-dd'T'HH:mm:ss.SSSXXX"}}`}}",
        "created_by": "{{ .Values.mockConfig.defaultUserId }}",
        "organization_id": "{{ .Values.mockConfig.defaultOrganizationId }}"
      },
      "self_managed_cluster": {
        "id": "{{`{{jsonPath request.body '$.self_managed_cluster.id'}}`}}",
        "name": "{{`{{jsonPath request.body '$.self_managed_cluster.name'}}`}}",
        "version": "{{`{{jsonPath request.body '$.self_managed_cluster.version'}}`}}"
      },
      "license": {
        "type": "{{`{{jsonPath request.body '$.license.type'}}`}}",
        "uid": "{{`{{jsonPath request.body '$.license.uid'}}`}}"
      },
      "services": {
        "auto_ops": {
          "enabled": false,
          "support": {
            "supported": true,
            "valid_license_types": ["platinum", "enterprise"],
            "minimum_stack_version": "9.2.0"
          },
          "config": {
            "region_id": "{{ .Values.mockConfig.defaultRegion }}"
          },
          "metadata": {
            "documentation_url": "{{ .Values.mockConfig.autoOps.documentationUrl }}",
            "connect_url": "{{ .Values.mockConfig.autoOps.connectUrlTemplate | replace "${orgId}" .Values.mockConfig.defaultOrganizationId }}"
          },
          "subscription": {
            "required": false
          }
        },
        "eis": {
          "enabled": false,
          "support": {
            "supported": true,
            "valid_license_types": ["platinum", "enterprise"],
            "minimum_stack_version": "9.2.0"
          },
          "metadata": {
            "documentation_url": "{{ .Values.mockConfig.eis.documentationUrl }}"
          },
          "subscription": {
            "required": true
          }
        }
      },
      "key": "{{ .Values.mockConfig.defaultApiKey }}"
    }
