# This sample sets up an Elasticsearch cluster with 3 nodes,
# exposed through a LoadBalancer
apiVersion: elasticsearch.k8s.elastic.co/v1alpha1
kind: Elasticsearch
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: elasticsearch-sample
spec:
  version: "6.7.0"
  licenseType: trial # can be "basic", "trial", "gold", "platinum"
  topology:
  - nodeTypes:
      master: true
      data: true
      ingest: true
    resources:
      limits:
        memory: 1Gi
        cpu: 500m
    nodeCount: 3
    ## this shows how to add a custom label to all pods created for this topology element
    #template:
    #  metadata:
    #    labels:
    #      foo: bar
    ## this shows how to request 2Gi of persistent data storage for pods in this topology element
    #volumeClaimTemplates:
    #- metadata:
    #    name: data
    #  spec:
    #    accessModes:
    #    - ReadWriteOnce
    #    resources:
    #      requests:
    #        storage: 2Gi
  ## See the following as an example of how to configure a snapshot repository
  #snapshotRepository:
  #  type: "gcs"
  #  settings:
  #    bucketName: "stack-sample-snapshot-repo"
  #    credentials:
  #      namespace: "default"
  #      name: "gcs-repo-account"
  ## Inject secure settings into Elasticsearch nodes from a k8s secret reference
  # secureSettings:
  #   namespace: "default"
  #   name: "ref-to-secret"
  expose: LoadBalancer
