apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: elastic-global-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: elastic-global-operator
subjects:
- kind: ServiceAccount
  name: elastic-global-operator
  namespace: <NAMESPACE>