---
# The following is an example of a Logstash resource that is configured to use an Ingress resource in a GKE cluster.
#

fullnameOverride: logstash

version: 9.2.4
count: 1

# Reference to ECK-managed Elasticsearch instance, ideally from {{ "elasticsearch.fullname" }}
#
elasticsearchRefs:
  - clusterName: eck
    name: elasticsearch

pipelines:
  - pipeline.id: main
    config.string: |
      input {
        http {
          port => 8080
        }
      }
      output {
        elasticsearch {
          hosts => [ "${ECK_ES_HOSTS}" ]
          user => "${ECK_ES_USER}"
          password => "${ECK_ES_PASSWORD}"
          ssl_certificate_authorities => "${ECK_ES_SSL_CERTIFICATE_AUTHORITY}"
        }
      }

services:
  - name: fluentd
    service:
      metadata:
        annotations:
          # This is required for `ClusterIP` services (which are the default ECK service type) to be used with Ingress in GKE clusters.
          cloud.google.com/neg: '{"ingress": true}'
          # This is required to enable the GKE Ingress Controller to use HTTPS as the backend protocol.
          cloud.google.com/app-protocols: '{"https":"HTTPS"}'
      spec:
        type: ClusterIP
        ports:
          - name: fluentd
            port: 8080
            protocol: TCP
            targetPort: 8080

ingress:
  enabled: true
  pathType: Prefix
  hosts:
    - host: "logstash.company.dev"
      path: "/fluentd"
      serviceName: fluentd
      servicePort: 8080
  tls:
    enabled: true
