---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: autoopsagentpolicies.autoops.k8s.elastic.co
spec:
  group: autoops.k8s.elastic.co
  names:
    categories:
    - elastic
    kind: AutoOpsAgentPolicy
    listKind: AutoOpsAgentPolicyList
    plural: autoopsagentpolicies
    shortNames:
    - autoops
    singular: autoopsagentpolicy
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Ready resources
      jsonPath: .status.ready
      name: Ready
      type: string
    - jsonPath: .status.phase
      name: Phase
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AutoOpsAgentPolicy represents an AutoOpsAgentPolicy resource
          in a Kubernetes cluster.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              config:
                description: |-
                  Config holds the AutoOpsAgentPolicy configuration.
                  The contents of the referenced secret requires the following format:
                    kind: Secret
                    apiVersion: v1
                    metadata:
                      name: autoops-agent-policy-config
                    stringData:
                      ccmApiKey: aslkfjsldkjfslkdjflksdjfl
                      autoOpsOTelURL: https://otel.auto-ops.console.qa.cld.elstc.co
                      autoOpsToken: skdfjdskjf
                properties:
                  secretName:
                    description: SecretName is the name of the secret.
                    type: string
                type: object
              resourceSelector:
                description: |-
                  ResourceSelector is a label selector for the resources to be configured.
                  Any Elasticsearch instances that match the selector will be configured to send data to AutoOps.
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: |-
                        A label selector requirement is a selector that contains values, a key, and an operator that
                        relates the key and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: |-
                            operator represents a key's relationship to a set of values.
                            Valid operators are In, NotIn, Exists and DoesNotExist.
                          type: string
                        values:
                          description: |-
                            values is an array of string values. If the operator is In or NotIn,
                            the values array must be non-empty. If the operator is Exists or DoesNotExist,
                            the values array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                          x-kubernetes-list-type: atomic
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                    x-kubernetes-list-type: atomic
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: |-
                      matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                      map is equivalent to an element of matchExpressions, whose key field is "key", the
                      operator is "In", and the values array contains only "value". The requirements are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
              version:
                description: Version of the AutoOpsAgentPolicy.
                type: string
            required:
            - version
            type: object
          status:
            properties:
              errors:
                description: Errors is the number of resources that are in an error
                  state.
                type: integer
              observedGeneration:
                description: ObservedGeneration is the most recent generation observed
                  for this AutoOpsAgentPolicy.
                format: int64
                type: integer
              phase:
                description: Phase is the phase of the AutoOpsAgentPolicy.
                type: string
              ready:
                description: Ready is the number of resources that are in a ready
                  state.
                type: integer
              resources:
                description: Resources is the number of resources that match the ResourceSelector.
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
